/*
===========================================================================
eXe
Copyright 2004-2006, University of Auckland
Copyright 2004-2007 eXe Project, New Zealand Tertiary Education Commission
base style sheet for all themes
===========================================================================
*/

/***********************
    * Base styles for exe *
    ***********************/

.infinitecontent{
	padding-left:20px;
	
}

a:hover {
    text-decoration: underline;
}

img.submit, img.help, img.info, img.gallery {
	border: 0;
	margin: 0;
}

li {
    list-style-position: inside;
}

p#nodeTitle { 
    display: inline;
}

td {
   /*   background-color: Lightpink;  */ 
   /*padding-left: 5px;
   /*padding-bottom: 0px;*/
   text-align:left; 
}
  /*nova koda*/
  table {
    border-collapse: collapse;
	font-size:12px;
}
.tDefault tbody td, .tDefault thead td {
    border-left: 1px solid #DFDFDF;
    box-shadow: 0 1px 0 #FAFAFA inset;
}
.tDefault tbody td:first-child, .tDefault thead td:first-child {
    border-left: medium none;
}
.checkAll thead td:first-child > img {
    padding-bottom: 2px;
    vertical-align: middle;
}
.tDefault thead td {
    background: none repeat scroll 0 0 #EEEEEE;
    color: #909090;
    font-size: 11px;
    padding: 3px 5px 2px;
    text-align: center;
}
.tDefault tbody td {
    padding: 7px 7px;
    vertical-align: middle;
}
.tDefault tbody tr {
    border-top: 1px solid #DFDFDF;
}
.tDefault tbody tr:first-child {
    box-shadow: 0 1px 0 #FFFFFF inset;
		
}
.tDefault tbody tr:nth-child(2n) {
    background: none repeat scroll 0 0 #F2F2F2;
}

/* --- iDevice Styles -- */


/* styles for 'tips for completion' and 'pedagogical help' */

.popupDiv {
margin: 0 4px;
	border: 3px solid #808080;
	position: absolute;
	left: 0;
	width: 100%;
	height: auto;
	background: #f4f4f4;
}

.popupDivLabel {
display: block;
	font-weight: bold;
	font-size: 13px;
	border-bottom: 1px solid #cdcdcd;
	color: #3e3e3e;
	position: relative;
	background: #f7f7f7; /* Old browsers */
	background: -moz-linear-gradient(top,  #f7f7f7 0%, #e8e8e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#e8e8e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f7f7f7 0%,#e8e8e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f7f7f7 0%,#e8e8e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f7f7f7 0%,#e8e8e8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f7f7f7 0%,#e8e8e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e8e8e8',GradientType=0 ); /* IE6-9 */
	padding:5px;
}

/* styles below here are for for Wikipedia content 
    imported into eXe. Taken from en.wikipedia.org. */
    
#catlinks {
    border: 1px solid #aaa;
    background-color: #f9f9f9;
    padding: 5px;
    margin-top: 1em;
    clear: both;
}

div.floatleft, table.floatleft {
    float: left;
    position: relative;
    margin: 0 .5em .5em 0;
    border: 0;
}

div.floatleft p { font-style: italic; }

/* thumbnails */
div.thumb {
    margin-bottom: .5em;
}
div.thumb div {
    border: 1px solid #ccc;
    padding: 3px !important;
    background-color: #f9f9f9;
    font-size: 94%;
    text-align: center;
    overflow: hidden;
}
div.thumb div a img {
    border: 1px solid #ccc;
}
div.thumb div div.thumbcaption {
    border: none;
    text-align: left;
    line-height: 1.4em; 
    padding: .3em 0 .1em 0;
}
div.magnify {
    float: right;
    border: none !important;
    background: none !important;
}

div.magnify a, div.magnify img {
    display: block;
    border: none !important;
    background: none !important;
}


div.tright {
    clear: right;
    float: right;
    border-width: .5em 0 .8em 1.4em;
}
div.tleft {
    float: left;
    margin-right: .5em;
    border-width: .5em 1.4em .8em 0;
}

/* Infobox template style */

.infobox {
    border: 1px solid #aaaaaa;
    background-color: #f9f9f9;
    color: black;
    margin-bottom: 0.5em;
    margin-left: 1em;
    padding: 0.2em;
    float: right;
    clear: right;
}
.infobox td,
.infobox th {
    vertical-align: top;
}
.infobox caption {
    font-size: larger;
    margin-left: inherit;
}
.infobox.bordered {
    border-collapse: collapse;
}
.infobox.bordered td,
.infobox.bordered th {
    border: 1px solid #aaaaaa;
}
.infobox.bordered .borderless td,
.infobox.bordered .borderless th {
    border: 0;
}

.infobox.sisterproject {
    width: 20em;
    font-size: 90%;
}

/* wikipedia tables of contents styles */

#toc,
.toc {
    border: 1px solid #aaa;
    background-color: #f9f9f9;
    padding: 5px;
    font-size: 95%;
}

#toc h2,
.toc h2 {
    display: inline;
    border: none;
    padding: 0;
    font-size: 100%;
    font-weight: bold;
}

#toc #toctitle,
.toc #toctitle,
#toc .toctitle,
.toc .toctitle {
    text-align: center;
}

#toc ul,
.toc ul {
    list-style-type: none;
    list-style-image: none;
    margin-left: 0;
    padding-left: 0;
    text-align: left;
}

#toc ul ul,
.toc ul ul {
    margin: 0 0 0 2em;
}

#toc .toctoggle,
.toc .toctoggle {
    font-size: 94%;
}

@media print {

.feedback { display: block; }

.feedbackbutton { display: none; }

#navcontainer { display: none; }

#main {margin-left: 10px; }

div.node { page-break-after: always; }
}

/*
 stili za menu pri Razrezu neskoncnega gradiva 
*/
.razrez {
	position: relative;
	width: 96%;
	right: 60px;
	left: 10px;
}
.razrezMenubar {
	position: absolute;
	width:35px;
	top:20px;
	right:5px;

}

/* IE6 hack*/
html > body .razrezMenubar{ position: fixed; }

.razrezmenu{
border-bottom-width: 0;
width: 30px;
}

* html .razrezmenu{ /*IE only rule. Original menu width minus all left/right paddings */
width: 30px;
}

.razrezmenu ul{
padding: 0;
margin: 0;
list-style-type: none;
}

.razrezmenu a{
	font: 13px Verdana;
	background: url(../menu-image.png) center no-repeat;
	padding: 4px 3px;
	display: block;
	width: 25px; /*Define width for IE6's sake*/
	color: black;
	height: 18px;
	text-decoration: none;
	text-align: center;
	font-weight: 700;
}

.razrezmenu a:visited{
color: #595959;
}

html>body .razrezmenu a{ /*Non IE rule*/
width: auto;
}

.razrezmenu a:hover{
font-size: 12pt;
font-weight: 700;
color: red;
}

.razrezmenu ul li .current{
font-weight: 900;
font-size: 12pt;
color: red;
}

.razrezmenu ul li .arrow {
	background: #FFFFCC;
	color:#FFFFCC;
  border: 0px;
  padding:5px 0px 0px 0px;
}
.razrezmenu img {
  padding:0px;
  border: 0px;

}
/*
 Slider za hitrost in pozicijo
*/

.dynamic-slider-control {
	position:			relative;
   background-image:url('../eumslider.jpg');
	-moz-user-focus:	normal;
	-moz-user-select:	none;
	cursor:				default;
}

.horizontal {
	width:				100px;
	height:				30px;
}

.dynamic-slider-control input {
	display:	none;
}

.dynamic-slider-control .handle {
	position:			absolute;
	-moz-user-select:	none;
	cursor:				default;
	background:			ThreeDFace;
	border:				1px solid;
	border-color:		ThreeDHighlight ThreeDDarkShadow
						ThreeDDarkShadow ThreeDHighlight;
}

/* inner border */
.dynamic-slider-control .handle div {
	font-size:			1px;
	border:				1px solid;
	border-color:		ThreeDLightShadow ThreeDShadow
						ThreeDShadow ThreeDLightShadow;	

	behavior:			url("boxsizing.htc");	/* ie path bug */
	box-sizing:			content-box;
	-moz-box-sizing:	content-box;
}

/*	inner sets size
.dynamic-slider-control.horizontal .handle {
	width:				12px;
	height:				22px;
}
*/

.dynamic-slider-control.horizontal .handle div {
	width:				8px;
	height:				18px;
}

.dynamic-slider-control.horizontal .handle.hover {}

/* inner sets size
.dynamic-slider-control.vertical .handle {
	width:				22px;
	height:				12px;
}
*/

.dynamic-slider-control.vertical .handle div {
	width:				18px;
	height:				8px;
}

.dynamic-slider-control.vertical .handle.hover {}

.dynamic-slider-control .line {
	
	behavior:			url("boxsizing.htc"); /* ie path bug */
	box-sizing:			content-box;
	-moz-box-sizing:	content-box;
		
	position:			absolute;
	font-size:			0.01mm;
	overflow:			hidden;
	border:				1px solid;
	border-color:		ThreeDShadow ThreeDHighlight
						ThreeDHighlight ThreeDShadow;
	background:			ThreeDDarkShadow;
}

.dynamic-slider-control.vertical .line {
	width:				1px;
	
}

.dynamic-slider-control.horizontal .line {
	height:				1px;
}

.dynamic-slider-control .line div {
	display:	none;
}

/*
 Eum Java applet in Gif Animacija
*/

.appletGumbi{
   padding-left: 3px;
   padding-bottom: 0px;
}

/*  Nasveti */

.hintanchor{ /*CSS for link that shows hint onmouseover*/
color:#000000;
   font-family:serif;
   font-weight:bold;
   background: transparent url(../eumnasvet.jpg) repeat-x;
   border:1px solid;
   overflow: hidden;
   border-top-color:#CCCC33;
   border-left-color:#CCCC33;
   border-right-color:#CCCC33;
   border-bottom-color:#CCCC33;
}

#fixedtipdiv{
position:absolute;
padding: 2px;
border:1px solid black;
font:normal 12px Verdana;
line-height:18px;
z-index:100;
}


div.nastavitve {
   border-style : groove;
   border-width : thin;
   font-family:serif;
   font-size:13pt;
   background: #FFF9B3;
}

.izbran{
	display: block;
}

.neizbran{
	display: none;
}

div.edit{
	background-color: rgba(255,255,255,0.2);
	color: #000000;	
	min-height: 50px;
	max-height: 350px;
	overflow: auto;
	border:1px solid rgba(0,0,0,0.1);
	margin-right: 5px;
	cursor:pointer;
	
}

div.edit1{
	background:url(../img/edit2.gif) top right no-repeat;
	padding-left: 3px;
	padding-right: 3px;
	min-height: 40px;
}

.deviceBorder{
	position:relative;
	padding: 5px 5px 0px 5px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-style:outset;
	border-width:2px;
	-moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; 
	
}

.questionBorder{
	padding: 5px 5px 5px 5px;
	margin-top: 10px;
	margin-bottom: 15px;
	border-style:dotted;
	border-width:3px;
	-moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; 
	
}


.question{
	/*background-color: rgba(255,255,255,0.2);
	padding: 0.2em 0.7em; 
	border: 1px solid rgba(0,0,0,0.1);
	-moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; 
	padding-top:5px;*/
	padding: 5px 0 0 0px;
}
.question2{
	/*background-color: rgba(255,255,255,0.2);
	padding: 0.2em 0.7em; 
	border: 1px solid rgba(0,0,0,0.1);
	-moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; 
	padding-top:5px;*/
	padding: 0;
	margin-top: 10px;
}

.ui-button-exe, .ui-button-exe3{
	font-size:100%; 
	overflow: auto; #68BFEF;
	width: 135px;   
	height: 7ex;  
	padding: 0.5em; 
	margin: 10px 5px 10px 0;
}
.ui-button-exe1{
	font-size:100%; 
	overflow: auto; #68BFEF;
	width: 135px;   
	height: 7ex;  
	padding: 0.5em; 
	margin: 10px 5px 10px 0;
}




/* styling for the image wrapper  */


.scrollable {
	/* required settings */
	position:relative;
	overflow:hidden;
	width: 350px;
	height:80px;
	/* custom decorations */
	background-color:#efefef;
}

/*
	root element for scrollable items. Must be absolutely positioned
	and it should have a extremely large width to accomodate scrollable items.
	it's enough that you set the width and height for the root element and
	not for this element.
*/
.scrollable .items {
	/* this cannot be too large */
	width:20000em;
	position:absolute;
	
	clear:both;
}

.items div {
	float:left;
	width:500px;
}

/* single scrollable item */
.scrollable img {
	float:left;
	margin:10px 5px 10px 5px;
	background-color:#fff;
	padding:2px;
	border:1px solid #ccc;
	width:67px;
	height:60px;
	
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

/* active item */
.scrollable .active {
	border:2px solid #5ea8d0;
	position:relative;
	cursor:default;
}


/* prev, next, prevPage and nextPage buttons */
a.browse {
	/*background:url(../img/scrollable/arrow/hori_large.png) no-repeat;*/
	display:block;
	width:18px;
	height:18px;
	float:left;
	margin:40px 3px;
	cursor:pointer;
	font-size:1px;
}


/* disabled navigational button */
a.disabled {
	visibility:hidden !important;		
}


.page_type {
	float: right;
    margin-right: 10px;
    text-align: right;
}

.nivo {
	/*
	right: 10px;
	top: 10px;
	position:absolute;	
	*/
	float: right;
	
}

.difficulty {
	/*
	right: 10px;
	top: 35px;
	position:absolute;
	*/
	float: right;	
		
}

.mode {
	
	float: right;
	/*
	right: 10px;
	top: 35px;
	position:absolute;	
		*/
}
.izbireDesno{
	right: 10px;
	top: 10px;
	/*position:absolute;*/	
	float: right;
}