.cse .gsc-search-button input.gsc-search-button-v2,
input.gsc-search-button-v2 {
    height: 26px !important;
    margin-top: 0 !important;
    min-width: 13px !important;
    padding: 5px 26px !important;
    width: 68px !important;
}
.gsc-input-box {
    height: 32px !important;
}
.gsc-control-cse {
    padding-top: 8px !important;
    padding-bottom: 0px !important;
	font-family: Arial, Helevetica, sans-serif;
	border-color: #F8F8F8;
    background-color: #F8F8F8;
}
#google_cse_wrapper {
    width: 300px;
    margin-left: 30px;
    height: 50px !important;
    float: right;
}